<p id="notice"><%= notice %></p>

<h1>User List</h1>
  <table class="table table-striped">
  <tr><th>Users</th><th>Date Joined</th></tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fname %> <%= user.lname %>  
        <% if session[:user_id] == user.id %>
          <span>
              <%= link_to 'Edit', edit_user_path(user), class: "send edit" %>
               <%= link_to 'X', user, class: "send del", method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        <% end %>
          </td>
          <td style="text-align:right"> <%= user.created_at.strftime("%B %e, %Y")%></td>
          </tr>
    <% end %>
    </table> 
<br>

<!--<%= link_to 'New User', new_user_path %>
-->