<h1>Editing Post</h1>

<%= form_for @post do |form| %>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    
    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "send" %>
  </div>
<% end %>




