<h1>Editing Post</h1>

<%= form_for @post do |form| %>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!--<%= link_to 'Show', @post %> -->
<%= link_to 'List', posts_path %>


