<p style="float:right"><%= link_to "See all users", users_path%></p>
<h2>Chats</h2>

<% if session[:user_id] %>
<h1>
  <%= link_to 'Click here to add to the conversion', new_post_path %>
</h1>
<% end %>
<br>
<h3>What everyone has to say:</h3>

    <% @posts.reverse.each do |post| %>
      <div class="post-content">
        <h3><%= post.content %></h3>
        <div>
          <span>
            posted by: <%= User.find(post.user_id).fname %> 
                <%= User.find(post.user_id).lname %>
                on <%= post.created_at.strftime("%B %e, %Y at %I:%M %p") %>
          </span>
          <!--<span><%= link_to 'Details', post %></span>-->
          
          <% if session[:user_id] == post.user_id %>
          <span>
            <span class="inner-form"><%= link_to 'Edit', edit_post_path(post), class: "send edit" %></span>
            <span class="ineer-form"><%= link_to 'X', post, method: :delete, class: "send del" %></span>
          </span>
          <% end %>
        </div>
      </div>
    <% end %>





