<h1>Alright, <%= @user.fname %>...</h1>

<p>What do you have to say?<p>
<%= form_for @post do |form| %>
   

  <div class="field">

    <%= form.text_area :content %>
  </div>
  
  <div class="field">
    
    <%= form.hidden_field :user_id, value: @user.id.to_i %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Post", class: "send" %>
  </div>
<% end %>

<%= link_to 'Return to Posts', posts_path %>
