
<%= form_for @com do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    
    <%= form.text_field :post_id, value: params[:pid] %>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: session[:user_id] %>
  </div>

<!--
  <div class="field">
    <%= form.hidden_field :user_id, value: 15 %>
  </div>
-->

  <div class="actions">
    <%= form.submit "Submit comment", class: "send" %>
  </div>
<% end %>
