

<h1>Comments</h1>

<%= link_to 'Add a comment', new_com_path, class: "send" %>

    <% @coms.reverse.each do |com| %>
      <ul>
        <li><%= com.content %></li>
       
        <li>Com post: <%= com.post_id%>
        <li>Params: <%= params.inspect%>
        
        <li>Post id: <%= com.post_id %></li> 
        <li>Comment from: <%= User.find(com.user_id).fname %></li>
      </ul>

      

      <%= link_to 'Edit', edit_com_path(com), class: "send edit" %>
      <%= link_to 'Delete', com, method: :delete, class: "send del" %>
    <% end %>

<br>
<br>


