

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   </head>

  <body>   
    <nav class="top-nav">
        <h2><span>f</span></h2>
        <div class="right-content">
            <div class="mobile-menu">
                <p class="mobile-menu_open">Menu</p>
                <p class="mobile-menu_close">X</p>
            </div>
            <ul>
                 
                <% if !session[:user_id] %>
                <li><a href="/">Welcome</a></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Join Us", new_user_path %></li>
                <li><a href="/login">Log In</a></li>
                <% else %>
                <li><a href="/login">Log Out</a></li>
                <li><a href="/posts">Forum</a>
                <% end %>
                
                
                   
            </ul>
        </div>

    </nav> 

    
    <div class="flash">

        <div class='notice'>
            <%= flash[:notice] if flash[:notice] %>
        </div>
        <div class='error'>
            <%= flash[:error] if flash[:error] %>
        </div>
        <div class='success'>
            <%= flash[:success] if flash[:success] %>
        </div>
        
    </div>
    
      <%= yield %>
 
    <footer>
    
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </body>
</html>
